@charset "UTF-8";
@font-face {
    font-family: 'Levi Brush';
    src: url("../fonts/levibrush.ttf");
    src: url("../fonts/levibrush.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}





html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

header{
    height: 20vh;
    padding-top: 30px;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

header nav{
}

nav ul{
    list-style: none;
    margin-left: 20%;

}

nav ul li{
    display: inline-block;
    margin-right: 20%;
}

nav ul li a{
    position: absolute;
    z-index: 3;
    font-size: 2em;
    text-decoration: none;
    color: white;
    text-align: center;
}


@media all and (max-width: 1200px){
    header{
        height: 20vh;
        padding: 30px;
        position: absolute;
        width: 100vw;
        z-index: 99;
    }

    header nav{
        text-align: center;
        width: 100vw;
    }

    nav ul{
        list-style: none;

    }

    nav ul li{
        display: inline-block;
        margin-right: 20%;

    }

    nav ul li a{
        position: absolute;
        z-index: 3;
        font-size: 20px;
        text-decoration: none;
        color: white;
        text-align: center;
    }


}

@media screen and (max-width: 500px){
    html,body{
        margin: 0;
        overflow-x: hidden;
    }
    header{
        height: 20vh;
        padding-top: 30px;
        position: absolute;
        width: 100vw;
        z-index: 99;
    }

    header nav{
    }

    nav ul{
        list-style: none;
        margin-left: -10%;

    }

    nav ul li{
        display: inline-block;
        margin-right: 15%;

    }

    nav ul li a{
        position: absolute;
        z-index: 3;
        font-size: 15px;
        text-decoration: none;
        color: white;
        text-align: center;
    }

}


section{
    overflow-x: hidden;
    height: 100vh;
    background: #f5f5f5;
}

#home-page{
    min-height: 120vh;
    width: 100%;
}

#home-image{
    height: 100vh;
    width: 100%;
}

#home-image img{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#home-image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 120vh;
    background: radial-gradient(circle,rgba(0, 0, 0, 0.5),rgba(255,255,255,0.2));
    z-index: -0;

}

svg {

    font-size: 10.5em;
    width: 960px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top:20%;
    left: 45%;
    transform: translate(-45%);
    z-index: 0;
    font-family: 'Raleway', sans-serif;
    presentation-level: increment;
    perspective: 700px;
    transform-style: preserve-3d;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #cc0e35;
    animation-delay: 1s;
}

.text-copy:nth-child(2){
    stroke: #e40f1b;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #1721ea;
    animation-delay: -1s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -1s;
}

.text-copy:nth-child(5){
    stroke: #e6891d;
    animation-delay: -5s;
}
.text-copy:nth-child(6){
    stroke: #b12277;
    animation-delay: -4s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}


.center-text{
    text-align: center;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%);
}

.center-text h1{
    color: white;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    letter-spacing: 12px;
}

.funkytext{
    color: #CC008A;
}
.spunkytext{
    color: #FFCE00;
}








@media all and (max-width: 1200px){
    section{
        overflow-x: hidden;
    }

    #home-page{
        min-height: 120vh;
        width: 100vw;
    }

    #home-image{
        height: 100vh;
        width: 100vw;
    }

    #home-image img{
        width: 100%;
        height: 100vh;
        background-size: cover;
    }

    #home-image::before{
        content: '';
        position: absolute;
        width: 100vw;
        height: 120vh;
        background: rgba(190, 145, 242, 0.2);
        z-index: -0;

    }

    svg {

        font-size: 5.5em;
        width: 960px;
        height: 300px;
        margin: 0 auto;
        position: absolute;
        top:20%;
        left: 50%;
        transform: translate(-50%);
        z-index: 0;
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }

    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 7% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }

    .text-copy:nth-child(1){
        stroke: #4d0038;
        animation-delay: 1s;
    }

    .text-copy:nth-child(2){
        stroke: #840037;
        animation-delay: -2s;
    }

    .text-copy:nth-child(3){
        stroke: #BD0034;
        animation-delay: -1s;
    }

    .text-copy:nth-child(4){
        stroke: #BD0034;
        animation-delay: -1s;
    }

    .text-copy:nth-child(5){
        stroke: #e6891d;
        animation-delay: -5s;
    }
    .text-copy:nth-child(6){
        stroke: #b12277;
        animation-delay: -4s;
    }

    @keyframes stroke-offset{
        100% {stroke-dashoffset: -35%;}
    }


    .center-text{
        text-align: center;
        position: absolute;
        top:60%;
        left: 50%;
        transform: translate(-50%);
    }

    .center-text h1{
        color: white;
        font-size: 3em;
        font-family: 'Lobster', cursive;
        letter-spacing: 12px;
    }

}


@media all and (max-width: 500px){
    section{
        overflow-x: hidden;
    }

    #home-page{
        min-height: 120vh;
        width: 100vw;
    }

    #home-image{
        height: 100vh;
        width: 100vw;
    }

    #home-image img{
        width: 100%;
        height: 100vh;
        background-size: cover;
    }

    #home-image::before{
        content: '';
        position: absolute;
        width: 100vw;
        height: 120vh;
        background: rgba(255, 255, 255, 0.2);
        z-index: -0;

    }

    svg {

        font-size: 4.5em;
        width: 700px;
        height: 300px;
        margin: 0 auto;
        position: absolute;
        top:20%;
        left: 50%;
        transform: translate(-50%);
        z-index: 0;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: bolder;
        letter-spacing: 12px;
    }

    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 7% 29%;
        stroke-width: 3px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }

    .text-copy:nth-child(1){
        stroke: #4d0038;
        animation-delay: 1s;
    }

    .text-copy:nth-child(2){
        stroke: #840037;
        animation-delay: -2s;
    }

    .text-copy:nth-child(3){
        stroke: #BD0034;
        animation-delay: -1s;
    }

    .text-copy:nth-child(4){
        stroke: #BD0034;
        animation-delay: -1s;
    }

    .text-copy:nth-child(5){
        stroke: #e6891d;
        animation-delay: -5s;
    }
    .text-copy:nth-child(6){
        stroke: #b12277;
        animation-delay: -4s;
    }

    @keyframes stroke-offset{
        100% {stroke-dashoffset: -35%;}
    }


    .center-text{
        text-align: center;
        position: absolute;
        top:60%;
        left: 50%;
        transform: translate(-50%);
    }

    .center-text h1{
        color: white;
        font-size: 2em;
        font-family: 'Lobster', cursive;
        letter-spacing: 12px;
    }

}








/*Section2- That is catalouge Section*/

#catalouge{
    height: 100vh;
    background: #eaeaea;

}
.conatiner{
    height: 100%;
    overflow: hidden;
}

.text-center{
    text-align: center;
    width: 100vw;
    height: 200px;

}

.text-center h1{
    font-family: 'Lobster',cursive;
    font-size: 40px;
    letter-spacing: 12px;
}


.text-image-container{
    width: 100vw;
    height: 400px;
}
.image-container{
    height: 400px;
    width: 25%;
    margin-left: 10%;
}


.image-container img{
    width: 100%;
    height: 450px;
}


.text-container{
    width: 50%;
    float: right;
    margin-right: 10%;
    position: relative;
    top: -100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Lobster',"Levi Brush", 'Lobster', cursive;
    color:  #1b1b1d;
    line-height: 1.5em;
}

.text-container p{
    color: #1ab188;
    letter-spacing: 4px;
    word-spacing: 10px;
}








@media all and (max-width: 500px){
    #catalouge{
        height: 200vh;
        background: #f5f5f5;

    }
    .conatiner{
        height: 100%;
        overflow: hidden;
    }

    .text-center{
        text-align: center;
        width: 100vw;
        height: 200px;

    }

    .text-center h1{
        font-family: 'Lobster',cursive;
        font-size: 40px;
        letter-spacing: 12px;
    }


    .text-image-container{
        width: 100vw;
        height: 400px;
    }
    .image-container{
        height: 400px;
        width: 100%;
        margin-left: 0;
    }


    .image-container img{
        width: 100%;
        height: 450px;
    }


    .text-container{
        width: 100%;
        float: none;
        margin-right: 10%;
        top:0;
        text-align: center;
        font-size: 20px;
        font-family: 'Lobster',"Levi Brush", 'Lobster', cursive;
        color:  #1b1b1d;
        line-height: 1.5em;

    }

    .text-container p{
        color: #1ab188;
        letter-spacing: 4px;
        word-spacing: 10px;
    }



}









@media all and (max-width: 370px){
    #catalouge{
        height: 200vh;
        background: #f5f5f5;

    }
    .conatiner{
        height: 100%;
        overflow: hidden;
    }

    .text-center{
        text-align: center;
        width: 100vw;
        height: 200px;

    }

    .text-center h1{
        font-family: 'Lobster',cursive;
        font-size: 40px;
        letter-spacing: 12px;
    }


    .text-image-container{
        width: 100vw;
        height: 400px;
    }
    .image-container{
        height: 400px;
        width: 100%;
        margin-left: 0;
    }


    .image-container img{
        width: 100%;
        height: 450px;
    }


    .text-container{
        width: 100%;
        float: none;
        margin-right: 10%;
        top:0;
        text-align: center;
        font-size: 20px;
        font-family: 'Lobster',"Levi Brush", 'Lobster', cursive;
        color:  #1b1b1d;
        line-height: 1.5em;

    }

    .text-container p{
        color: #1ab188;
        letter-spacing: 4px;
        word-spacing: 10px;
    }



}


















/* triangle section in which the video is playing */

#triangle{
    width: 0;
    height: 0;
    border-bottom: 200px solid transparent;
    border-right: 100vw solid palevioletred;
}
#lower-triangle{
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 100vw solid palevioletred;
}
#video-demo{
    height: 190vh;
    background: #eaeaea;

}
#float-text{
    width: 100vw;
    height: 300px;
    text-align: center;

}

#center{
    text-align: center;
}

#center h1{
    font-family: "Levi Brush", 'Lobster', cursive;
    color: palevioletred;
    font-size: 20vw;
    margin-top: 0;
}

#video-container{
    width: 100vw;
    height: 700px;

}

#o{
    height: 700px;
    width: 40%;
    margin-left: 25%;
    background-size: contain;
    background: url("../images/o.png")no-repeat 0 0;
    background-size: cover;


}



#video-box{
    width: 500px;
    height: 500px;
}

#video{
    height: 800px;
    width: 500px;
    clip-path: circle(20%);
    border: none;
    object-fit: contain;
    position: absolute;
    margin-top: -3%;
    margin-left: 25%;
    transform: translate(-55%);
}




@media all and (max-width: 500px){
    #triangle{
        width: 0;
        height: 0;
        border-bottom: 200px solid transparent;
        border-right: 100vw solid palevioletred;
    }
    #video-demo{
        height: 150vh;
        background: #eaeaea;

    }
    #float-text{
        width: 100vw;
        height: 300px;
        text-align: center;

    }

    #center{
        text-align: center;
    }

    #center h1{
        font-family: "Levi Brush", 'Lobster', cursive;
        color: palevioletred;
        font-size: 8em;
        margin-top: 0;
        margin-left: 0;
    }

    #video-container{
        width: 100vw;
        height: 700px;

    }

    #o{
        height: 500px;
        width: 100%;
        margin-left: -5%;
        background-size: contain;
        background: url("../images/o.png")no-repeat -50px 0;
        background-size: cover;
        margin-top: -50%;


    }



    #video-box{
        width: 400px;
        height: 400px;
    }

    #video{
        height: 500px;
        width: 500px;
        clip-path: circle(20%);
        border: none;
        object-fit: contain;
        position: absolute;
        margin-top: -1%;
        margin-left: 50%;
        transform: translate(-50%);
    }




}


@media all and (max-width: 370px){
    #triangle{
        width: 0;
        height: 0;
        border-bottom: 200px solid transparent;
        border-right: 100vw solid palevioletred;
    }
    #video-demo{
        height: 150vh;
        background: #eaeaea;

    }
    #float-text{
        width: 100vw;
        height: 300px;
        text-align: center;

    }

    #center{
        text-align: center;
    }

    #center h1{
        font-family: "Levi Brush", 'Lobster', cursive;
        color: palevioletred;
        font-size: 7em;
        margin-top: 0;
        margin-left: 0;
    }

    #video-container{
        width: 100vw;
        height: 700px;

    }

    #o{
        height: 500px;
        width: 100%;
        margin-left: -5%;
        background-size: contain;
        background: url("../images/o.png")no-repeat -50px 0;
        background-size: cover;
        margin-top: -50%;


    }



    #video-box{
        width: 400px;
        height: 400px;
    }

    #video{
        height: 500px;
        width: 500px;
        clip-path: circle(20%);
        border: none;
        object-fit: contain;
        position: absolute;
        margin-top: -1%;
        margin-left: 55%;
        transform: translate(-50%);
    }




}






#image-gallery{
    height: 150vh;
}
canvas{
    margin-top: -10%;
}
#label{
    width: 100vw;
    height: 300px;
    background: linear-gradient(110deg, #CC008A, #FFCE00);
    color: #FFFFFF;
    text-shadow: 0 0 1rem rgba(204, 0, 138, 0.5);
    margin-top: 0;
    border: 1px solid transparent;
}


.mid-text{
    width: 100vw;
    height: 100px;
    margin-top: 100px;
    text-align: center;
    line-height: 5.5em;
    font-family: 'Lobster','Raleway',cursive;
    letter-spacing: 5px;
    word-spacing: 10px;
}
.mid-text h1{
    color: white;
    font-size: 40px;
}
.mid-text p{
    font-family: 'Lobster','Raleway',cursive;
    letter-spacing: 2px;
}
#text-image{
    width: 100vw;
    height: 400px;
    text-align: center;
}


#rotate-text{
    transform: rotate(90deg);
    position: absolute;
    font-family: "Levi Brush", 'Lobster', cursive;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 20px;
    margin-top: 5%;
    left: 87%;
}




@media all and (max-width: 500px){
    #label{
        width: 100vw;
        height: 400px;
        background: linear-gradient(110deg, #CC008A, #FFCE00);
        color: #FFFFFF;
        text-shadow: 0 0 1rem rgba(204, 0, 138, 0.5);
        margin-top: 0;
        border: 1px solid transparent;
    }



    #mid-text{
        width: 100vw;
        height: 50px;
        margin-top: 0px;
        text-align: center;
        line-height: 5.5em;
        font-family: 'Lobster','Raleway',cursive;
        letter-spacing: 5px;
        word-spacing: 10px;

    }
    #mid-text h1{
        color: white;
        font-size: 20px;
    }
    #mid-text p{
        font-size: 10px;
        font-family: 'Raleway',cursive;
        letter-spacing: 0;
    }
    #text-image{
        width: 100vw;
        height: 400px;
        text-align: center;
    }


    #rotate-text{
        transform: rotate(90deg);
        position: absolute;
        font-family: "Levi Brush", 'Lobster', cursive;
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 20px;
        margin-top: 35%;
        left: 70%;
        z-index: 0;
    }


}




.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

    .news-card {
        height: 20rem
    }
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
    /*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
}

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
}

.news-card__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
}

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }
    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .news-card:hover .news-card__title {
        color: yellow;
    }
    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }
}

.news-card__excerpt {
    font-weight: 300;
}

.news-card__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.news-card__read-more i {
    position: relative;
    left: 0.2rem;
    color: #888;
    transition: left 0.5s ease, color 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.news-card__read-more:hover i {
    left: 0.5rem;
    color: yellow;
}


@media all and (max-width: 500px){
    #image-gallery{
        height: 250vh;
    }

}






#image-showcase{
    height: 250vh;
}

.second-label{
    width: 100vw;
    height: 400px;
    background: #50479D;
    border: 1px solid transparent;
}


#particles-js{
    position: absolute;
    z-index: 0;
    height: 150vh;
    width: 100vw;
    margin-top:20%;
}



.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.8;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
    opacity: 1;
}

/* .modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
} */

.modal-img,.model-vid{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table
}
.modal-body{
    padding: 0px;
}

.modal-dialog {
    height: 100%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border: none;
}

@media screen and (max-width: 767px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .gallery div { margin: 0;
        width: 200px;
    }
    .modal-dialog {
        margin: 0 8vw;
    }
}

@media screen and (max-width: 479px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div {
        margin: 0;
        width: 200px;
    }
}



footer{
    height: 50vh;
    background: #7b0db1;
    text-align: center;
}

#book-link-container{
    width: 20%;
    margin-left: 40%;
    transform: translate(-10%);
    height: 100px;
    position: relative;
    line-height: 3em;


}

#book-link{
    position: relative;
    top:10%;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background: linear-gradient(110deg, #CC008A, #FFCE00);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 1s;
}
#book-link:hover{
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 1s;
}
#book-link a{
    color: whitesmoke;
    font-size: 40px;
    text-decoration: none;
}


#follow-ups h1{
    color: rgba(255,255,255,0.2);
    font-family: 'Lobster', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 10px;
    background: url("../images/color-splash.jpg");
     -webkit-background-clip: text;
    animation: anime 5s ease-in-out infinite;
}

@keyframes anime {
    0%{
        background-position: left -700px top 0;
    }
    15%{
        background-position: left -600px top 0;
    }
    45%{
        background-position: left -400px top 0;
    }

    75%{
        background-position: left 0px top 0;
    }
    90%{
        background-position: left 200px top 0;

    }
    100%{
        background-position: left 400px top 0;
    }
}














 #display-sec{
     height: 100vh;
     width: 100vw;
     overflow: hidden;
 }

.welcome_image{
    height: 50vh;
    width: 100vw;
    overflow: hidden;

}
.image-for-welocme{
    height: 50vh;
    width: 100vw;
}


.image-for-welocme img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.welcome_image::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 50vh;
    top:0;
    left: 0;
    background: radial-gradient(circle,rgba(0,0,0,0.2),rgba(0,0,0,0.4));
}


.center-align{
    width: 100vw;
    text-align: center;

}
#thoda-neeche{
    margin-top: 10%;
}
.center-align h1{
    font-family: 'Raleway','Cambria',cursive;
    font-size: 60px;
    line-height: 0;
    line-height: .5em;
    cursor: none;
}

.center-align hr{
    width: 20%;
    height: 3px;
    border: none;
    background: blueviolet;

}

#left{
    margin-left: -10%;
}

#right{
    margin-left: 10%;
}

#particle-js{
    height: 50vh;
    position: absolute;
    z-index: 0;
    width: 100vw;
    top: 70vh;
}






#tour-timeline{
    height: 340vh;
    border: 1px solid transparent;
}



.timeline-conatiner{
    font: normal 16px/1.5 'Titillium Web', sans-serif;
    background: linear-gradient(54deg, #9164ff, #8bfff4);
    color: #3c3f64;
    overflow: hidden;
    padding-bottom: 50px;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}
.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #eee;
}
.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.timeline ul li div time {
    position: absolute;
    background: #f5af19;
    width: 100px;
    height: 50px;
    top: -25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    z-index: 1;
    text-align: center;
}
.timeline ul li div div {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeline ul li div div p {
    text-align: center;
}
.timeline ul li div .discovery {
    margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
    left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
    left: -439px;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
        flex-direction: column;
    }
    .timeline ul li div div {
        width: 80%;
        margin: 10px;
    }
    .timeline ul li:nth-of-type(even) > div {
        left: -289px;
    }
}
@media screen and (max-width: 600px) {
    body {
        background: #8bfff4;
    }

    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-of-type(even) > div {
        left: 45px;
    }
}





.flight-text{
    height: 100px;
    width: 100vw;
    text-align: center;
    margin-top: 10%;
    font-size: 5em;

}
.flight-text h1{
    font-family: 'Lobster', cursive;

}
.timer-container{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 650px;
    height: 480px;
    margin-top: 10%;
}


#timer {
    color: #F6F4F3;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: .7em;
    letter-spacing: 5px;
    margin-top: 25%;
}

.days, .hours, .minutes, .seconds {
    display: inline-block;
    padding: 20px;
    width: 100px;
    border-radius: 5px;
}

.days {
    background: #EF2F3C;
}

.hours {
    background: #F6F4F3;
    color: #183059;
}

.minutes {
    background: #276FBF;
}

.seconds {
    background: #F0A202;
}

.numbers {
    font-family: "Montserrat", sans-serif;
    color: #183059;
    font-size: 5em;
}

.white {
    position: absolute;
    background: #F6F4F3;
    height: 85px;
    width: 75px;
    left: 30%;
    top: 2%;
}
.white .triangle {
    border-bottom: 14px solid #F6F4F3;
}
.white .string {
    background: #F6F4F3;
    border: 1px solid #F6F4F3;
}

.red {
    position: absolute;
    background: #EF2F3C;
    left: 18%;
    top: 9%;
    height: 65px;
    width: 70px;
}
.red .triangle {
    border-bottom: 14px solid #EF2F3C;
}
.red .string {
    background: #EF2F3C;
    border: 1px solid #EF2F3C;
}

.blue {
    position: absolute;
    background: #276FBF;
    height: 80px;
    width: 80px;
    left: 60%;
    top: 5%;
}
.blue .triangle {
    border-bottom: 14px solid #276FBF;
}
.blue .string {
    background: #276FBF;
    border: 1px solid #276FBF;
}

.balloon {
    border: 1px solid #000;
    border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
    z-index: 2;
}

.eye {
    position: absolute;
    width: 7px;
    height: 7px;
    top: 40%;
    left: 22%;
    background: #000;
    border-radius: 50%;
}
.eye:after {
    content: '';
    left: 35px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    position: absolute;
}

.mouth {
    position: absolute;
    top: 45%;
    left: 43%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.happy {
    border: 2px solid;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
}

.triangle {
    position: absolute;
    left: 40%;
    bottom: -10%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.string {
    position: absolute;
    height: 70px;
    width: 1px;
    left: 48%;
    top: 100%;
    z-index: -1;
}

.star {
    width: 20px;
    height: 20px;
    background: #F6F4F3;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-red {
    width: 30px;
    height: 30px;
    margin-left: 51px;
    margin-top: -5px;
    background: #EF2F3C;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}





#book-flights{
    height: 150vh;

}

#form-conatiner{
    height: 200vh;
    border: 1px solid transparent;
    background: linear-gradient(54deg, #9164ff, #8bfff4);
}
#form{
    width: 100vw;
    height: 160vh;
    margin-top: 5%;
    color: white;


}


#center-form{
    width: 40%;
    height: auto;
    margin: auto;
    background: palevioletred;

}

.form-content{
    width: 100%;
    border:  1px solid purple;
    min-height: 450px;
    max-height: 1200px;
}

.inbox{
    width: 50%;
    float: left;
}

label{
    text-align: center;
    font-size: 40px;
    color: white;
}

input[type='text'],input[type='number']{
    height: 50px;
    width: 250px;
    font-size: 20px;
    color: #e6891d;
    border: none;
    border-radius: 10px;
}

input[type=radio]{
    margin-top: 10px;
    height: 20px;
    width: 40px;
    color: #e6891d;
}
input[type=button]{
    height: 50px;
    width: 250px;
    border: none;
    border-radius:10px ;
    background: #ff8f00;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.3);
    transition: 1s;
    color: white;
}

input[type=button]:hover{
    box-shadow: none;
    transition: 1s;
    background: #840037;
}


#submit-wala-link{
    width: 250px;
    margin-left: 30%;
}

#full-box{
    width: 100%;
}

.flight-option{
    width: 25%;
    height: 50px;
    float: left;
    margin-left: 5%;
}


select{
    height: 40px;
    background: white;
    border:none;
    border-radius: 10px;
}

option{
    height: 40px;
    background: white;
    border:none;
    border-radius: 10px;
    color: #f5af19;
    font-size: 20px;
}




#selfiebox{
    height: 50vh;
}




::placeholder{
    color: #e6891d;
}
